@{
	ViewData["PageTittle"] = "Giới thiệu";
}
<h1>
	Đây là trang giới thiệu
</h1>

<div class="container mt-2">
	<h1>Giới thiệu Tip&Tricks</h1>
	<div class="row">
		<div class="col col-md-12">
			<p >Nhà phát triển Phần mềm</p>
			<div>
			<a href="https://github.com/huyentrang2002" class="btn btn-primary btn-lg">
			Bấm vào đây!!! <i class="fa fa-forward" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
		
