<div class="mb-4">
  <form method="get"
        asp-controller="Blog"
        asp-action="Index"
        asp-area=""
  >
    <div class="input-group mb-3">
      <input type="text" 
              class="form-control"
              name="k"
              placeholder="Enter keywork"
              aria-label="Enter keywork"
              aria-describedby="btnSearchPost"
              >
      <button type="submit" 
              class="btn btn-outline-secondary"
              id="btnSearchPost"
              >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>
</div>

