<div class="my-4">

<!--form tim kiem -->
<partial name="_SearchForm"/>

<!-- Các chuyên mục/ chủ đề-->
@await Component.InvokeAsync("CategoriesWidget")
<!--Top bài viết nổi bật nhất-->
@await Component.InvokeAsync("FeaturedPosts")
<!--Bài viết ngẫu nhiên-->
@await Component.InvokeAsync("RandomPosts")
<!-- Tag cloud-->
@await Component.InvokeAsync("TagCloud")
<!-- Best Author-->
@*@await Component.InvokeAsync("BestAuthors")
*@<!--Đăng kí nhận tin mới-->


</div>
